main {
    text-align: center;
}
#profile_pic {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: transform 0.3s;
}

#profile_pic:hover {
    transform: scale(1.1);
}

#language-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 0px;
}
#language-list li {
    width: 250px;
    margin: 0 auto;
}
#language-list li img {
    width: 100%;
}

main {
    margin-top: 65px;
}